<% layout('/layouts/boilerPlate') %>

    <link rel="stylesheet" href="/styles/card.css">

    <hr>

    <%- include('../includes/filter.ejs') %>

        
        <div class="cards">
            <% for (let listing of listings){%>
                <a href="/listings/<%=listing._id%>">
                    <div class="card">
                        <input type="text" hidden value="<%= listing.category%>">
                        
                        <div class="img-part">
                            <img src="<%=listing.image.url%>" alt="listingImg">
                        </div>
                        <div class="text-part">
                            <div class="text">
                                <div>
                                    <%=listing.title%>
                                </div>
                                <div class="price">&#x20B9 <span><%=listing.price.toLocaleString("en-IN")%></span> <i class="taxes">+18% GST </i>&nbsp; / night</div>

                            </div>
                        </div>
                    </div>
                </a>
                <%}%>

        </div>

        <script src="/scripts/filter.js"></script>